:root {
    color-scheme: light dark;
    --col-body: #eee;
    --col-background: #24a295;
    --col-lowlight: rgba(250,250,250,0.5);
}

@supports not (background-color: if(else: red)) {

    [data-carbon$='none'] {
      --col-background: #5e5e5e;
    }
    
    [data-carbon$='low'] {
      --col-background: #24a295;
    }
    
    [data-carbon='moderate'] {
      --col-background: #d2802a;
    }
    
    [data-carbon$='high'] {
      --col-background: #de431f;
    }
    
    @media (prefers-color-scheme: dark) {
        :root {
          --col-body: #ddd;
          --col-background: #12796f;
        }
        
        [data-carbon$='low'] {
              --col-background: #12796f;
        }
         
        [data-carbon='moderate'] {
              --col-background: #a96722;
        }
        
        [data-carbon$='high'] {
              --col-background: #92311a;
        }
    }
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
* :before,
* :after {
  box-sizing: inherit;
  margin: 0.5rem;
}

body {
    --carbon: attr(data-carbon type(<custom-ident>));
    --col-background: if(
        style(--carbon: low): light-dark(#24a295, #12796f);
        style(--carbon: moderate): light-dark(#d2802a, #a96722);
        style(--carbon: high): light-dark(#de431f, #92311a);
        else: light-dark(#24a295, #12796f);
    );
    min-height: 100%;
    margin: 0 auto;
    place-content: center;
    font: normal 100%/1.5 system-ui, sans-serif;
    background-color: var(--col-background);
    color: var(--col-body);
    text-align: center;
    font-size: clamp(1.125em, 2vw, 2em);
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    transition: background-color 1s;
    padding: env(safe-area-inset-top, 0.5rem) env(safe-area-inset-right, 0.5rem) env(safe-area-inset-bottom, 0.5rem) env(safe-area-inset-left, 0.5rem);
    padding: env(safe-area-max-inset-top, 0.5rem) env(safe-area-max-inset-right, 0.5rem) env(safe-area-max-inset-bottom, 0.5rem) env(safe-area-max-inset-left, 0.5rem);
}

h1 {
    font-size: 2em;
    line-height: 1
}

a {
  color: currentColor;
  text-decoration-color: var(--col-lowlight);
  text-underline-offset: .125em;
}

small,
span,
time,
a {
  margin: auto;
}

.lowlight {
  color: var(--col-lowlight);
  border-radius: .75em;
}

:is(header, aside, footer) p {
  display: inline;
  padding: 0 0.75em;
  font-weight: 300;
  background-color: var(--col-background);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transition: background-color 1s;
}

.data {
  display: block;
  margin: -1.125em auto;
  border-top: .1875rem double var(--col-lowlight);
  border-bottom: .1875rem double var(--col-lowlight);
}

.invert{
  background-color: var(--col-lowlight);
  color: var(--col-background);
}

ul {
    padding: 0;
    text-wrap: balance;
}

.cover {
    font-size: 1.5em;
    text-transform: capitalize;
    display: inline-block;
    margin: 0;
    padding: .15em;
    text-transform: capitalize;
    font-weight: normal;
}

.num {
    display: block;
    font-weight: bold;
    font-size: 1.125em;
    border-top: 0.0625rem solid var(--col-lowlight);
    font-variant-numeric: tabular-nums;
}


p {
    margin: 0;
    color: var(--col-lowlight, currentColor)
}

button {
    background-color: transparent;
    -webkit-appearance: button;
    appearance: button;
    border: .1875rem double currentcolor;
    background-color: var(--col-background);
    color: var(--col-lowlight);
    padding: .25em .75em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: initial;
}
