:root {
    color-scheme: light dark;
    --col-body: #eee;
    --col-background: #24a295;
    --col-lowlight: rgba(250,250,250,0.5);
}

[data-carbon$='low'] {
  --col-background: #24a295;
}

[data-carbon='moderate'] {
  --col-background: #d2802a;
}

[data-carbon$='high'] {
  --col-background: #de431f;
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
      --col-body: #ddd;
      --col-background: #12796f;
    }
    
    [data-carbon$='low'] {
          --col-background: #12796f;
    }
     
    [data-carbon='moderate'] {
          --col-background: #a96722;
    }
    
    [data-carbon$='high'] {
          --col-background: #92311a;
    }
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
* :before,
* :after {
  box-sizing: inherit;
  margin: 0.5rem;
}

body {
  min-height: 100%;
  margin: 0 auto;
  place-content: center;
  font: normal 100%/1.5 system-ui, sans-serif;
  background-color: var(--col-background);
  color: var(--col-body);
  text-align: center;
  font-size: clamp(1.125em, 2vw, 2em);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  transition: background-color 1s;
}

h1 {
    font-size: 2em;
    line-height: 1
}

a {
  color: currentColor;
  text-decoration-color: var(--col-lowlight);
  text-underline-offset: .125em;
}

small,
span,
time,
a {
  margin: auto;
}

.lowlight {
  color: var(--col-lowlight);
  border-radius: .75em;
}

:is(header, aside, footer) p {
  display: inline;
  padding: 0 0.75em;
  font-weight: 300;
  background-color: var(--col-background);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transition: background-color 1s;
}

.data {
  display: block;
  margin: -1.125em auto;
  border-top: .1875rem double var(--col-lowlight);
  border-bottom: .1875rem double var(--col-lowlight);
}

.invert{
  background-color: var(--col-lowlight);
  color: var(--col-background);
}
