:root {
    color-scheme: light dark;
    --col-body: light-dark(#eee, #ddd);
    --col-background: light-dark(#24a295, #12796f);
    --col-lowlight: light-dark(#86e6c8, #24a295);
}

@supports not (color: light-dark(red, green)) {
  :root {
    color-scheme: light dark;
    --col-body: #eee;
    --col-background: #24a295;
    --col-lowlight: #86e6c8;
  }
  
  @media only screen and (prefers-color-scheme: dark) {
    :root {
      --col-body: #ddd;
      --col-background: #12796f;
      --col-lowlight: #24a295;
    }
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
* :before,
* :after {
  box-sizing: inherit;
  margin: 0.5rem;
}

body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 0 auto;
  font: normal 100%/1.5 system-ui, sans-serif;
  background-color: var(--col-background);
  color: var(--col-body);
  text-align: center;
  font-size: clamp(1em, 2vw, 2em);
}

h1 {line-height: 1}

a {
  color: currentColor;
  text-decoration-color: var(--col-lowlight);
  text-underline-offset: .125em;
}

small,
span,
time,
a {
  margin: auto;
}

.lowlight {
  color: var(--col-lowlight);
  border-radius: .75em;
}

:is(header, aside, footer) p {
  display: inline;
  padding: 0 0.75em;
  font-weight: 300;
  background: var(--col-background);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.data {
  display: block;
  margin: -1.125em auto;
  border-top: .1875rem double var(--col-lowlight);
  border-bottom: .1875rem double var(--col-lowlight);
}

.invert{
  background-color: var(--col-lowlight);
  color: var(--col-background);
}

.loader,
.loader:before,
.loader:after {
  background: #fff;
  animation: load1 1.6s infinite ease-in-out;
  width: .5em;
  height: 2em;
  margin: 0;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 3em auto;
  position: relative;
  animation-delay: .3s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1em;
}
.loader:after {
  left: 1em;
  animation-delay: .6s
}
@keyframes load1 {
  0%,
  66% {
    transform: scaleY(1);
  }
  33% {
    transform: scaleY(1.375);
  }
}
@supports (scale: 1) {
  .loader,
  .loader:before,
  .loader:after {
    animation: load2 1.4s infinite ease-in-out;
  }
  .loader {
    animation-delay: .2s;
  }
  .loader:before {
    left: 0;
    translate: -1em 0;
  }
  .loader:after {
    left: 0;
    translate: 1em 0;
    animation-delay: .4s
  }
  @keyframes load2 {
    0%,
    66% {
      scale: 1 1;
    }
    33% {
      scale: 1 1.375;
    }
  }
}
